@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:300");
@font-face {
  font-family: hack-zh;
  font-weight: 300;
  src: local("Helvetica Neue");
  url: sans-serif;
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: justfont-zh;
  font-weight: 400;
  src: local("xingothic-tc");
  unicode-range: U+4E00-9FFF;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-family: "Saira Extra Condensed", xingothic-tc, Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heavy {
  font-family: "Saira Extra Condensed", jf-jinxuan, Helvetica, Arial, sans-serif;
}
p {
  line-height: 1.6em;
}
iframe {
  background: url("/assets/img/loader-jothon.svg") #ccc center center no-repeat;
}
.navbar {
  font-size: 0.8em;
}
.navbar .avatar {
  width: 24px;
  height: 24px;
  background: url("/assets/img/default-avatar.svg") #ccc center center no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  border-radius: 3px;
}
.navbar-brand img {
  width: 32px;
}
.footer {
  background: #222;
  padding: 40px;
  color: #fff;
  font-size: 0.8em;
}
.footer h5 {
  margin-bottom: 20px;
}
.footer a {
  color: #fff;
  display: block;
}
.footer .fa {
  width: 20px;
  margin-right: 5px;
  text-align: center;
}
.footer .row {
  width: 100%;
  max-width: 80%;
  margin: auto;
}
.jumbotron {
  padding: 0;
  background: #fffff9;
  background: -moz-linear-gradient(45deg, #fffff9 0%, #fff 100%);
  background: -webkit-linear-gradient(45deg, #fffff9 0%, #fff 100%);
  background: linear-gradient(45deg, #fffff9 0%, #fff 100%);
  position: relative;
  font-size: 1.2em;
  border-radius: 0;
}
.jumbotron .inner {
  margin: 0;
  padding: 60px 0 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/matrix.svg");
  box-shadow: inset 0 -3px 4px rgba(0,0,0,0.2);
}
.jumbotron .text-center {
  position: relative;
  z-index: 2;
}
.jumbotron .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.jumbotron h1 {
  font-size: 2.7em;
  font-weight: 700;
}
.jumbotron .lead {
  margin: 20px 0 50px;
}
.jumbotron .lead .zh {
  font-size: 1.5em;
}
.jumbotron .btn {
  width: 200px;
  font-size: 1.1em;
  padding-bottom: 15px;
}
.btn {
  font-size: 1.15em;
}
.content {
  max-width: 1024px;
  width: 100%;
  padding: 30px 10px 100px;
  margin: auto;
}
.content h1,
.content h4 {
  font-weight: 900;
}
.red {
  color: #d21;
}
.yellow {
  color: #ff6;
}
.gray {
  color: #999;
}
#carousel-review blockquote a {
  color: #222;
  text-decoration: none;
}
#carousel-review h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
#carousel-testimony h5 {
  margin-bottom: -5px;
}
#carousel-testimony .name {
  margin-bottom: -5px;
}
#carousel-testimony .carousel-item {
  padding-left: 30px;
  padding-right: 30px;
}
#carousel-photo .carousel-control-prev,
#carousel-review .carousel-control-prev {
  left: -35px;
}
#carousel-photo .carousel-control-next,
#carousel-review .carousel-control-next {
  right: -35px;
}
#carousel-photo .carousel-control-prev,
#carousel-review .carousel-control-prev,
#carousel-photo .carousel-control-next,
#carousel-review .carousel-control-next {
  width: 30px;
}
#carousel-photo .carousel-control-prev span,
#carousel-review .carousel-control-prev span,
#carousel-photo .carousel-control-next span,
#carousel-review .carousel-control-next span {
  font-size: 32px;
  padding: 5px;
  border-radius: 50%;
  background: none;
  color: #000;
  width: 40px;
  height: 40px;
  display: block;
}
#carousel-video p.text-left,
#carousel-testimony p.text-left {
  font-size: 0.8em;
}
#carousel-video .carousel-control-prev,
#carousel-testimony .carousel-control-prev,
#carousel-video .carousel-control-next,
#carousel-testimony .carousel-control-next {
  width: 20px;
  mix-blend-mode: difference;
}
#carousel-video .carousel-control-prev span,
#carousel-testimony .carousel-control-prev span,
#carousel-video .carousel-control-next span,
#carousel-testimony .carousel-control-next span {
  background-size: 60%;
  padding: 15px;
  border-radius: 50%;
  background-color: #222;
}
#carousel-video .carousel-indicators,
#carousel-testimony .carousel-indicators {
  margin: 0;
  bottom: -25px;
}
#carousel-video .carousel-indicators li.active,
#carousel-testimony .carousel-indicators li.active {
  background-color: #f00;
}
#carousel-video .carousel-indicators li,
#carousel-testimony .carousel-indicators li {
  background-color: rgba(0,0,0,0.5);
}
.events .event {
  margin: 15px 0 50px;
}
.events .event h4 .en {
  display: inline;
  font-size: 0.9em;
}
.events .event .thumb {
  background-color: #eee;
  background-image: url("/assets/img/events/na.jpg");
}
.events .event .thumb,
.events .event .inner {
  width: 240px;
  height: 290px;
  margin-bottom: 5px;
  border-radius: 6px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
.events .event .thumb .thumb-inner,
.events .event .inner .thumb-inner {
  margin: 0;
}
.events .event .links .btn {
  font-size: 0.65em;
}
.events .event .desc {
  font-size: 0.9em;
}
a.anchor {
  margin-top: -60px;
  position: absolute;
}
.reveal {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  opacity: 0;
  -ms-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.reveal.on {
  opacity: 1;
}
.reveal.s67 {
  width: 60%;
  padding-top: 70%;
}
.reveal.cover {
  background-size: cover;
}
.reveal-shadow {
  position: fixed;
  background: rgba(0,0,0,0.5) url("/assets/img/loader-jothon.svg") center center no-repeat;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  opacity: 0;
}
.reveal-shadow > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
}
.reveal-shadow.active {
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.photos {
  margin: -5px -5px 10px;
}
.photos:nth-child(2) {
  margin-bottom: 0;
}
.photo.lg {
  width: 100%;
  height: 220px;
  margin: 0 0 10px;
}
.photo {
  cursor: pointer;
  height: 180px;
  background: url("/assets/img/photo/1.jpg") center no-repeat fixed;
  background-size: cover;
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  margin: 3px 5px;
  padding: 0;
}
.photo .inner {
  width: 100%;
  height: 100%;
  background: url("/assets/img/photo/1.jpg") center center no-repeat;
  background-size: cover;
}
.g0v {
  display: inline;
}
.g0v:after {
  display: inline;
  content: "g0v";
  font-family: consolas, "Source Code Pro", Courier New, fixedsys, monospace;
}
.g0v.tw:after {
  content: "g0v.tw";
}
.badge.dashed {
  border: 1px dashed #ccc;
  opacity: 0.8;
  color: #aaa;
}
.spc1 {
  height: 0;
}
.spc1:after {
  content: " ";
}
#debug {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99999;
  background: #f00;
  width: 48px;
  height: 19px;
  font-size: 10px;
  color: #fff;
  padding: 4px 7px;
  opacity: 0.8;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 3px;
}
#debug:after {
  content: "DEBUG";
}
.sep {
  border-top: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  margin: 7px auto;
  height: 0;
}
.sep.huge-gap {
  margin: 21px auto;
}
.sep.dashed {
  border-top-style: dashed;
}
.sep.nogap {
  margin: 0 auto;
}
.sep.light {
  border-top: 1px solid rgba(0,0,0,0.1);
}
.btn.has-tips {
  overflow: visible;
}
.btn.has-tips .inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.btn.has-tips .hover-tip {
  display: block;
  opacity: 0;
  z-index: -1;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn.has-tips:hover .hover-tip {
  display: block;
  opacity: 1;
  z-index: 10;
}
.btn-upload {
  position: relative;
  overflow: hidden;
}
.btn-upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0.005;
  cursor: pointer;
}
.loader {
  display: none;
  opacity: 0;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.loader.active {
  display: block;
  opacity: 1;
}
.loader.fade {
  display: block;
}
svg {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clickable {
  cursor: pointer !important;
}
@-webkit-keyframes bk-drift {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 1440px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes bk-drift {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 1440px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-moz-keyframes bk-drift {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 1440px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-ms-keyframes bk-drift {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 1440px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-moz-keyframes bk-drift {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 1440px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes bk-drift {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 1440px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-o-keyframes bk-drift {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 1440px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes bk-drift {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 1440px 0;
  }
  100% {
    background-position: 0 0;
  }
}
hr {
  border-top: 1px solid rgba(200,200,200,0.8);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1.tag,
h2.tag,
h3.tag,
h4.tag,
h5.tag,
h6.tag {
  display: inline-block;
  clear: both;
  padding: 5px 15px 7px 50px;
  border-radius: 10px 4px 4px 10px;
  min-width: 200px;
  text-align: right;
  margin-left: -10px;
  margin-right: 10px;
  border-left: 10px solid #520;
  background: #920;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
.tag-center {
  text-align: center;
}
.tag-center h1.tag,
.tag-center h2.tag,
.tag-center h3.tag,
.tag-center h4.tag,
.tag-center h5.tag,
.tag-center h6.tag {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  border-right: 10px solid #520;
}
.light {
  font-weight: normal;
}
.code {
  font-family: 'courier new';
  overflow-x: scroll;
  padding: 10px;
  background: rgba(0,0,0,0.1);
  white-space: pre;
  margin: 15px auto;
}
.hidden-xs-inline {
  display: inline;
}
@media (max-width: 480px) {
  .hidden-xs-inline {
    display: none !important;
  }
}
.shown-xs-inline {
  display: none;
}
@media (max-width: 480px) {
  .shown-xs-inline {
    display: inline;
  }
}
.hidden-640-inline {
  display: inline;
}
@media (max-width: 640px) {
  .hidden-640-inline {
    display: none !important;
  }
}
.hidden-800-inline {
  display: inline;
}
@media (max-width: 800px) {
  .hidden-800-inline {
    display: none;
  }
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.hover-tip {
  background: #000;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 100px;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  z-index: ;
  font-size: 13px;
}
.hover-tip a {
  color: #73baf7;
}
.hover-tip:before {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -7px;
  background: #000;
  display: block;
  content: " ";
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hover-tip.right:before {
  top: 50%;
  left: 2px;
  margin-top: -5px;
  margin-left: -5px;
}
.hover-tip.bottom {
  top: 100%;
  margin-top: 14px;
}
.hover-tip.top {
  top: auto;
  bottom: 100%;
}
.hover-tip.top:before {
  top: auto;
  bottom: -5px;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.inline {
  display: inline !important;
}
.inline-block {
  display: inline-block !important;
}
.block {
  display: block !important;
}
.flexbox {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flexbox.nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flex {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex-end {
  -webkit-flex: 999 1 auto !important;
  flex: 999 1 auto !important;
}
.flex-end:after {
  content: " ";
  display: inline-block;
}
.block1024 {
  max-width: 1024px;
  width: 95%;
  margin: auto;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.chunk {
  padding: 10px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  border-radius: 3px;
  border: 1px solid #ddd;
}
.closebtn {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  font-size: 20px;
  line-height: 12px;
  text-align: right;
  margin: 10px 10px 0 0;
  cursor: pointer;
  color: #444;
  z-index: ;
}
.closebtn:after {
  content: "\0000d7";
  display: inline;
}
.closebtn.lg {
  font-size: 32px;
  line-height: 17px;
}
.closebtn.inverse {
  position: relative;
  border-radius: 50%;
  background: #444;
  color: #fff;
  width: 15px;
  height: 15px;
  padding: 0;
  text-align: center;
  float: right;
  margin: -2px -2px 0 0;
}
.closebtn.lg {
  font-size: 25px;
  width: 23px;
  height: 23px;
  line-height: 18px;
}
.closebtn.inverse {
  color: #444;
  background: none;
  font-weight: 900;
}
.closebtn.inner {
  position: absolute;
  top: 4px;
  right: 4px;
}
.closebtn.lg {
  font-size: 32px;
}
.closebtn.lg.inner {
  top: 12px;
  right: 12px;
}
.closebtn.outer {
  position: absolute;
  top: -4px;
  right: -4px;
}
.gray {
  color: #999;
}
.light {
  color: #bbb;
}
.block {
  display: block;
}
.tiny {
  font-size: 0.65em;
}
.big {
  font-size: 1.5em;
}
.huge {
  font-size: 3em;
}
.red {
  color: #c7254e;
}
.green {
  color: #15b73e;
}
.panel .hint-img {
  width: 100%;
  height: 200px;
  background: #999;
  border-radius: 3px;
  background-color: #eee;
  background-position: center center;
  background-repeat: no-repeat;
}
@-webkit-keyframes modal-in {
  0% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
  100% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
}
@-webkit-keyframes modal-in {
  0% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
  100% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
}
@-moz-keyframes modal-in {
  0% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
  100% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
}
@-ms-keyframes modal-in {
  0% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
  100% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
}
@-moz-keyframes modal-in {
  0% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
  100% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
}
@-webkit-keyframes modal-in {
  0% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
  100% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
}
@-o-keyframes modal-in {
  0% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
  100% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
}
@keyframes modal-in {
  0% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
  100% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
}
@-webkit-keyframes modal-out {
  0% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
}
@-webkit-keyframes modal-out {
  0% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
}
@-moz-keyframes modal-out {
  0% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
}
@-ms-keyframes modal-out {
  0% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
}
@-moz-keyframes modal-out {
  0% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
}
@-webkit-keyframes modal-out {
  0% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
}
@-o-keyframes modal-out {
  0% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
}
@keyframes modal-out {
  0% {
    opacity: 1;
    z-index: ;
    top: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    top: -20px;
  }
}
@-webkit-keyframes modal-inner-in {
  0% {
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes modal-inner-in {
  0% {
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes modal-inner-in {
  0% {
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes modal-inner-in {
  0% {
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes modal-inner-in {
  0% {
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes modal-inner-in {
  0% {
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes modal-inner-in {
  0% {
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes modal-inner-in {
  0% {
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes modal-inner-out {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@-webkit-keyframes modal-inner-out {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@-moz-keyframes modal-inner-out {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@-ms-keyframes modal-inner-out {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@-moz-keyframes modal-inner-out {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@-webkit-keyframes modal-inner-out {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@-o-keyframes modal-inner-out {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes modal-inner-out {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.cover-modal-wrapper {
  display: block;
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  pointer-events: none;
}
.cover-modal-wrapper.inactive {
  -ms-animation: modal-out 0.3s ease-out 1 forwards;
  -moz-animation: modal-out 0.3s ease-out 1 forwards;
  -webkit-animation: modal-out 0.3s ease-out 1 forwards;
  -o-animation: modal-out 0.3s ease-out 1 forwards;
  animation: modal-out 0.3s ease-out 1 forwards;
}
.cover-modal-wrapper.active {
  -ms-animation: modal-in 0.3s ease-out 1 forwards;
  -moz-animation: modal-in 0.3s ease-out 1 forwards;
  -webkit-animation: modal-in 0.3s ease-out 1 forwards;
  -o-animation: modal-in 0.3s ease-out 1 forwards;
  animation: modal-in 0.3s ease-out 1 forwards;
  z-index: ;
  opacity: 1;
  top: 0;
  pointer-events: all;
}
.cover-modal-inner {
  -ms-animation: modal-inner-out 0.3s ease-out 1 forwards;
  -moz-animation: modal-inner-out 0.3s ease-out 1 forwards;
  -webkit-animation: modal-inner-out 0.3s ease-out 1 forwards;
  -o-animation: modal-inner-out 0.3s ease-out 1 forwards;
  animation: modal-inner-out 0.3s ease-out 1 forwards;
}
.cover-modal-wrapper.active .cover-modal-inner {
  -ms-animation: modal-inner-in 0.3s ease-out 1 forwards;
  -moz-animation: modal-inner-in 0.3s ease-out 1 forwards;
  -webkit-animation: modal-inner-in 0.3s ease-out 1 forwards;
  -o-animation: modal-inner-in 0.3s ease-out 1 forwards;
  animation: modal-inner-in 0.3s ease-out 1 forwards;
}
.cover-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: ;
}
.cover-modal-inner {
  position: relative;
  width: 640px;
  margin: 100px auto;
  z-index: ;
}
.cover-modal-inner > .panel.panel-default {
  box-shadow: 0 3px 6px rgba(0,0,0,0.6);
}
.cover-modal-wrapper.narrow > .cover-modal-inner {
  width: 500px;
}
.cover-modal-wrapper.narrow > .cover-modal-inner .panel-default {
  width: 500px;
}
.cover-modal-wrapper.tight > .cover-modal-inner,
.tight > .cover-modal-wrapper > .cover-modal-inner {
  width: 360px;
}
.cover-modal-wrapper.tight > .cover-modal-inner .panel-default,
.tight > .cover-modal-wrapper > .cover-modal-inner .panel-default {
  width: 360px;
}
.cover-modal-wrapper.full > .cover-modal-inner,
.full > .cover-modal-wrapper > .cover-modal-inner {
  width: 100%;
  height: 100%;
  margin: auto;
}
.cover-modal-wrapper.full > .cover-modal-inner .panel-default,
.full > .cover-modal-wrapper > .cover-modal-inner .panel-default,
.cover-modal-wrapper.full > .cover-modal-inner .panel-body,
.full > .cover-modal-wrapper > .cover-modal-inner .panel-body {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.cover-modal-inner .panel-default {
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.cover-modal-inner.centered {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.cover-modal-inner .panel-heading,
.cover-modal-inner .panel-footer {
  padding-top: 5px;
}
.cover-modal-inner .panel-footer {
  padding-right: 5px;
  padding-bottom: 5px;
}
.cover-modal-inner .nav-tabs {
  margin-bottom: 13px;
}
.cover-modal-inner .nav-tabs > li > a {
  padding: 5px 9px;
  font-size: 0.95em;
  line-height: 1.51em;
}
.cover-modal-inner.ng-hide-animate,
.cover-modal.ng-hide-animate {
  -ms-transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  -moz-transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
.cover-modal-inner.ng-hide-animate.ng-hide {
  top: -30px;
  opacity: 0;
  z-index: -1;
}
.cover-modal.ng-hide-animate.ng-hide {
  opacity: 0;
  z-index: -1;
}
@-webkit-keyframes bk-drift {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  25%, 75% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -50px 0;
  }
  50% {
    background-position: 0 0;
  }
  75% {
    background-position: 50px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes bk-drift {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  25%, 75% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -50px 0;
  }
  50% {
    background-position: 0 0;
  }
  75% {
    background-position: 50px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-moz-keyframes bk-drift {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  25%, 75% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -50px 0;
  }
  50% {
    background-position: 0 0;
  }
  75% {
    background-position: 50px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-ms-keyframes bk-drift {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  25%, 75% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -50px 0;
  }
  50% {
    background-position: 0 0;
  }
  75% {
    background-position: 50px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-moz-keyframes bk-drift {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  25%, 75% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -50px 0;
  }
  50% {
    background-position: 0 0;
  }
  75% {
    background-position: 50px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes bk-drift {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  25%, 75% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -50px 0;
  }
  50% {
    background-position: 0 0;
  }
  75% {
    background-position: 50px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-o-keyframes bk-drift {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  25%, 75% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -50px 0;
  }
  50% {
    background-position: 0 0;
  }
  75% {
    background-position: 50px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes bk-drift {
  0%, 50%, 100% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  25%, 75% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -50px 0;
  }
  50% {
    background-position: 0 0;
  }
  75% {
    background-position: 50px 0;
  }
  100% {
    background-position: 0 0;
  }
}
.authpanel.cover-modal-wrapper .cover-modal {
  -ms-animation: bk-drift 20s cubic-bezier(0.3, 0, 0.7, 1) infinite;
  -moz-animation: bk-drift 20s cubic-bezier(0.3, 0, 0.7, 1) infinite;
  -webkit-animation: bk-drift 20s cubic-bezier(0.3, 0, 0.7, 1) infinite;
  -o-animation: bk-drift 20s cubic-bezier(0.3, 0, 0.7, 1) infinite;
  animation: bk-drift 20s cubic-bezier(0.3, 0, 0.7, 1) infinite;
  background-image: url("");
  opacity: 0.75;
}
.authpanel.cover-modal-wrapper .cover-modal-inner {
  width: 400px;
  height: 400px;
}
.authpanel.cover-modal-wrapper .cover-modal-inner .panel {
  box-shadow: 0 6px 12px 2px rgba(0,0,0,0.5);
}
.authpanel.cover-modal-wrapper .cover-modal-inner > .text-center {
  color: #fff;
  font-size: 1.2em;
}
.authpanel.cover-modal-wrapper .cover-modal-inner > .text-center a {
  color: #549ad7;
}
#notifications {
  position: fixed;
  top: 100px;
  right: 100px;
  z-index: ;
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes notify-slide-in {
  0%, 10%, 18%, 25% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  5%, 15%, 22%, 28% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  0% {
    -ms-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
    opacity: 0;
  }
  5% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -webkit-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
  }
  15% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -ms-transform: translate(0, -16px);
    -moz-transform: translate(0, -16px);
    -webkit-transform: translate(0, -16px);
    -o-transform: translate(0, -16px);
    transform: translate(0, -16px);
    opacity: 1;
  }
  22% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  28% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes notify-slide-in {
  0%, 10%, 18%, 25% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  5%, 15%, 22%, 28% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  0% {
    -ms-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
    opacity: 0;
  }
  5% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -webkit-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
  }
  15% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -ms-transform: translate(0, -16px);
    -moz-transform: translate(0, -16px);
    -webkit-transform: translate(0, -16px);
    -o-transform: translate(0, -16px);
    transform: translate(0, -16px);
    opacity: 1;
  }
  22% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  28% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes notify-slide-in {
  0%, 10%, 18%, 25% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  5%, 15%, 22%, 28% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  0% {
    -ms-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
    opacity: 0;
  }
  5% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -webkit-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
  }
  15% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -ms-transform: translate(0, -16px);
    -moz-transform: translate(0, -16px);
    -webkit-transform: translate(0, -16px);
    -o-transform: translate(0, -16px);
    transform: translate(0, -16px);
    opacity: 1;
  }
  22% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  28% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes notify-slide-in {
  0%, 10%, 18%, 25% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  5%, 15%, 22%, 28% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  0% {
    -ms-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
    opacity: 0;
  }
  5% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -webkit-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
  }
  15% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -ms-transform: translate(0, -16px);
    -moz-transform: translate(0, -16px);
    -webkit-transform: translate(0, -16px);
    -o-transform: translate(0, -16px);
    transform: translate(0, -16px);
    opacity: 1;
  }
  22% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  28% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes notify-slide-in {
  0%, 10%, 18%, 25% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  5%, 15%, 22%, 28% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  0% {
    -ms-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
    opacity: 0;
  }
  5% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -webkit-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
  }
  15% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -ms-transform: translate(0, -16px);
    -moz-transform: translate(0, -16px);
    -webkit-transform: translate(0, -16px);
    -o-transform: translate(0, -16px);
    transform: translate(0, -16px);
    opacity: 1;
  }
  22% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  28% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes notify-slide-in {
  0%, 10%, 18%, 25% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  5%, 15%, 22%, 28% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  0% {
    -ms-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
    opacity: 0;
  }
  5% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -webkit-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
  }
  15% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -ms-transform: translate(0, -16px);
    -moz-transform: translate(0, -16px);
    -webkit-transform: translate(0, -16px);
    -o-transform: translate(0, -16px);
    transform: translate(0, -16px);
    opacity: 1;
  }
  22% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  28% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes notify-slide-in {
  0%, 10%, 18%, 25% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  5%, 15%, 22%, 28% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  0% {
    -ms-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
    opacity: 0;
  }
  5% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -webkit-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
  }
  15% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -ms-transform: translate(0, -16px);
    -moz-transform: translate(0, -16px);
    -webkit-transform: translate(0, -16px);
    -o-transform: translate(0, -16px);
    transform: translate(0, -16px);
    opacity: 1;
  }
  22% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  28% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes notify-slide-in {
  0%, 10%, 18%, 25% {
    animation-timing-function: cubic-bezier(0.3, 0, 1, 0.7);
  }
  5%, 15%, 22%, 28% {
    animation-timing-function: cubic-bezier(0, 0.3, 0.7, 1);
  }
  0% {
    -ms-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
    opacity: 0;
  }
  5% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -webkit-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
  }
  15% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -ms-transform: translate(0, -16px);
    -moz-transform: translate(0, -16px);
    -webkit-transform: translate(0, -16px);
    -o-transform: translate(0, -16px);
    transform: translate(0, -16px);
    opacity: 1;
  }
  22% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  28% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.notify {
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  margin-bottom: 3px;
  -ms-animation: notify-slide-in 5s linear 1 forwards;
  -moz-animation: notify-slide-in 5s linear 1 forwards;
  -webkit-animation: notify-slide-in 5s linear 1 forwards;
  -o-animation: notify-slide-in 5s linear 1 forwards;
  animation: notify-slide-in 5s linear 1 forwards;
}
.notify:after {
  font-size: 14px;
  margin-left: 10px;
  font-family: FontAwesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  float: right;
  display: block;
}
.notify.notify-danger {
  background: #c00;
  border: 1px solid #b00;
  color: #fff;
}
.notify.notify-danger:after {
  content: "\f00d";
}
.notify.notify-warning {
  background: #c90;
  border: 1px solid #b80;
  color: #fff;
}
.notify.notify-warning:after {
  content: "\f12a";
}
.notify.notify-success {
  background: #0c0;
  border: 1px solid #0b0;
  color: #fff;
}
.notify.notify-success:after {
  content: "\f00c";
}
.notify.notify-info {
  background: #0cc;
  border: 1px solid #0bb;
  color: #fff;
}
.notify.notify-info:after {
  content: "\f129";
}
.notify.notify-note {
  background: #eee;
  border: 1px solid #ddd;
  color: #fff;
}
.notify.notify-note:after {
  content: "\f0f3";
}
.form-control-feedback.with-text {
  width: auto;
  right: 5px;
}
.form-control-feedback.up-tag {
  background: #a94442;
  font-size: 13px;
  line-height: 15px;
  height: 20px;
  color: #fff;
  padding: 3px 8px;
  border-radius: 5px 5px 0 0;
  right: 10px;
}
.invalid-feedback.abs {
  top: 0;
  right: 0;
}
.has-feedback .form-control-feedback.with-text.up-tag {
  top: -20px;
}
.has-feedback label ~ .form-control-feedback.with-text.up-tag {
  top: 5px;
}
.timeline {
  position: relative;
  border-left: 4px solid;
  padding-left: 32px;
  padding-bottom: 30px;
  margin-left: 42px;
}
.timeline .entry {
  margin-bottom: 30px;
}
.timeline .date {
  position: absolute;
  left: -88px;
  margin-top: 2px;
  text-align: right;
  width: 60px;
}
.timeline .milestone .date {
  font-size: 1.2em;
  font-weight: 900;
  margin-top: -0.05em;
}
.timeline .milestone .action .text {
  font-size: 32px;
  font-weight: 900;
  position: relative;
  top: -8px;
}
.timeline .milestone .action:before {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: -18px;
  margin-top: 0;
  border: 4px solid;
}
.timeline .action .text {
  font-size: 24px;
  font-weight: 900;
  position: relative;
  top: -4px;
}
.timeline .action:before {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -8px;
  margin-top: 8px;
  border: 4px solid;
}
.timeline .milestone .action:after {
  display: none;
}
.timeline .action:after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 54px;
  height: 0;
  border-bottom: 2px solid;
  left: 0px;
  margin-top: -23px;
}
.timeline .entry {
  margin-left: 32px;
}
.timeline .entry.milestone {
  margin-left: 0px;
}
.timeline.timeline-red {
  border-left-color: #d31;
}
.timeline.timeline-red .milestone .action:before {
  background: #fff;
  border-color: #d31;
}
.timeline.timeline-red .action:before {
  background: #d31;
  border-color: #d31;
}
.timeline.timeline-red .action:after {
  border-bottom-color: #d31;
}
.timeline.timeline-orange {
  border-left-color: #f93;
}
.timeline.timeline-orange .milestone .action:before {
  background: #fff;
  border-color: #f93;
}
.timeline.timeline-orange .action:before {
  background: #f93;
  border-color: #f93;
}
.timeline.timeline-orange .action:after {
  border-bottom-color: #f93;
}
.timeline.timeline-green {
  border-left-color: #9f9;
}
.timeline.timeline-green .milestone .action:before {
  background: #fff;
  border-color: #9f9;
}
.timeline.timeline-green .action:before {
  background: #9f9;
  border-color: #9f9;
}
.timeline.timeline-green .action:after {
  border-bottom-color: #9f9;
}
.timeline.timeline-blue {
  border-left-color: #48f;
}
.timeline.timeline-blue .milestone .action:before {
  background: #fff;
  border-color: #48f;
}
.timeline.timeline-blue .action:before {
  background: #48f;
  border-color: #48f;
}
.timeline.timeline-blue .action:after {
  border-bottom-color: #48f;
}
.timeline.end {
  border-left-color: #ccc;
  border-left-style: dashed;
  padding-bottom: 10px;
}
.grantee-badge {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.impact-report:hover a {
  text-decoration: none;
}
.dlbutton {
  background-color: rgba(0,0,0,0);
  border: 2px solid #222;
  padding: 5px 10px;
  color: #222;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}
.impact-report:hover .dlbutton {
  text-decoration: none;
  background-color: #222;
  color: #fff;
}
.user-profile .avatar {
  width: 128px;
  height: 128px;
  background: url("/assets/img/default-avatar.svg") #ccc center center no-repeat;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}
.jothon-app .avatar {
  border: 1px solid #ccc;
  width: 64px;
  height: 64px;
  border-radius: 3px;
  background: url("/assets/img/default-avatar.svg") center center no-repeat #ccc;
  background-size: cover;
}
.search-results {
  margin: 0;
  font-family: Helvetica Neue, Heiti TC, Microsoft JhengHei, arial, sans-serif;
}
.search-result {
  margin: 0 0 35px;
}
.search-result a {
  font-size: 1.3em;
  line-height: 1em;
  margin: 0;
}
.search-result .desc {
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: 200;
  color: #555;
}
.search-result .desc b {
  color: #222;
  font-weight: 900;
}
.search-result .url {
  font-size: 0.7em;
  color: #484;
  margin: 0 0 2px;
}
.search-result .type {
  font-size: 0.6em;
  background: #ccc;
  color: #fff;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  vertical-align: top;
  margin-top: 3px;
  line-height: 1.2em;
}
body.auth {
  background: url("/assets/img/matrix.svg");
}
#carousel-review h5 {
  padding-bottom: 7px;
  margin-bottom: 3px;
}
#carousel-review .review-thumb {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eee;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}
