.timeline {
  position: relative;
  border-left: 4px solid;
  padding-left: 32px;
  padding-bottom: 30px;
  margin-left: 42px;
}
.timeline .entry {
  margin-bottom: 30px;
}
.timeline .date {
  position: absolute;
  left: -82px;
  margin-top: 2px;
  text-align: right;
  width: 60px;
}
.timeline .milestone .date {
  font-size: 1.2em;
  font-weight: 900;
  margin-top: -0.05em;
}
.timeline .milestone .action .text {
  font-size: 32px;
  font-weight: 900;
  position: relative;
  top: -8px;
}
.timeline .milestone .action:before {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: -18px;
  margin-top: 0;
  border: 4px solid;
}
.timeline .action .text {
  font-size: 24px;
  font-weight: 900;
  position: relative;
  top: -4px;
}
.timeline .action:before {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -8px;
  margin-top: 8px;
  border: 4px solid;
}
.timeline .milestone .action:after {
  display: none;
}
.timeline .action:after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 54px;
  height: 0;
  border-bottom: 2px solid;
  left: 0px;
  margin-top: -23px;
}
.timeline .entry {
  margin-left: 32px;
}
.timeline .entry.milestone {
  margin-left: 0px;
}
.timeline.timeline-red {
  border-left-color: #d31;
}
.timeline.timeline-red .milestone .action:before {
  background: #fff;
  border-color: #d31;
}
.timeline.timeline-red .action:before {
  background: #d31;
  border-color: #d31;
}
.timeline.timeline-red .action:after {
  border-bottom-color: #d31;
}
.timeline.timeline-orange {
  border-left-color: #f93;
}
.timeline.timeline-orange .milestone .action:before {
  background: #fff;
  border-color: #f93;
}
.timeline.timeline-orange .action:before {
  background: #f93;
  border-color: #f93;
}
.timeline.timeline-orange .action:after {
  border-bottom-color: #f93;
}
.timeline.timeline-green {
  border-left-color: #9f9;
}
.timeline.timeline-green .milestone .action:before {
  background: #fff;
  border-color: #9f9;
}
.timeline.timeline-green .action:before {
  background: #9f9;
  border-color: #9f9;
}
.timeline.timeline-green .action:after {
  border-bottom-color: #9f9;
}
.timeline.timeline-blue {
  border-left-color: #48f;
}
.timeline.timeline-blue .milestone .action:before {
  background: #fff;
  border-color: #48f;
}
.timeline.timeline-blue .action:before {
  background: #48f;
  border-color: #48f;
}
.timeline.timeline-blue .action:after {
  border-bottom-color: #48f;
}
.timeline.end {
  border-left-color: #ccc;
  border-left-style: dashed;
  padding-bottom: 10px;
}
