//- module
.footer
  .row
    .col-4
      h5 #[img(style="width:24px;margin-top:-5px",src="/img/jothon-bg-dark.svg")] 揪松團 / g0v-jothon
      a(href="/about/") #[i.fa.fa-users] 關於我們 / About Us
      a(href="/transactions/") #[i.fa.fa-credit-card] 收支明細 / Spending
      a(href="http://g0v.tw") #[i.fa.fa-globe] 零時政府官網 / g0v.tw
      a(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=18") #[i.fa.fa-hand-rock-o] 認養大松 / Donate by Subscribing
      br
      img(src="/img/loader-jothon.svg",style="height:48px;margin-left:-14px")
      a(href="https://loading.io",style="display:inline") animations are made possible by loading.io
    .col-4
      h5 協作平台 / Work Together
      a(href="https://www.facebook.com/groups/g0v.general/") #[i.fa.fa-facebook] 臉書後勤中心 / Facebook Group
      a(href="http://g0v.hackpad.tw/") #[i.fa.fa-file-text-o] 線上共筆 / Collaborative Notes
      a(href="https://github.com/g0v/") #[i.fa.fa-github] 源碼庫 / Github
      a(href="http://join.g0v.today") #[i.fa.fa-slack] 即時討論 / Slack
    .col-4.text-center
      img(style="max-width:100px;width:100%",src="/img/g0v-bg-dark.svg")
      div(style="color:#fff") powered by g0v

