.sep
  border-top: 1px solid rgba(0,0,0,0.2)
  width: 100%
  margin: 7px auto
  height: 0
.sep.huge-gap
  margin: 21px auto
.sep.dashed
  border-top-style: dashed
.sep.nogap
  margin: 0 auto
.sep.light
  border-top: 1px solid rgba(0,0,0,0.1)
.sep.grayed
  border-top-color: #666

