@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:300");
.sep {
  border-top: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  margin: 7px auto;
  height: 0;
}
.sep.huge-gap {
  margin: 21px auto;
}
.sep.dashed {
  border-top-style: dashed;
}
.sep.nogap {
  margin: 0 auto;
}
.sep.light {
  border-top: 1px solid rgba(0,0,0,0.1);
}
.sep.grayed {
  border-top-color: #666;
}
@font-face {
  font-family: hack-zh;
  font-weight: 300;
  src: local("Helvetica Neue");
  url: sans-serif;
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: justfont-zh;
  font-weight: 400;
  src: local("cwtexqyuan");
  unicode-range: U+4E00-9FFF;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Saira Extra Condensed", cwtexqyuan, Helvetica, Arial, sans-serif;
}
.navbar {
  font-size: 0.8em;
}
.navbar-brand img {
  width: 32px;
}
.footer {
  background: #222;
  padding: 40px;
  color: #fff;
  font-size: 0.8em;
}
.footer h5 {
  margin-bottom: 20px;
}
.footer a {
  color: #fff;
  display: block;
}
.footer .fa {
  width: 20px;
  margin-right: 5px;
  text-align: center;
}
.footer .row {
  width: 100%;
  max-width: 80%;
  margin: auto;
}
.jumbotron {
  padding: 0;
  background: #fffff9;
  background: -moz-linear-gradient(45deg, #fffff9 0%, #fff 100%);
  background: -webkit-linear-gradient(45deg, #fffff9 0%, #fff 100%);
  background: linear-gradient(45deg, #fffff9 0%, #fff 100%);
  font-size: 1.2em;
  border-radius: 0;
}
.jumbotron .inner {
  margin: 0;
  padding: 60px 0 0;
  width: 100%;
  height: 100%;
  background-image: url("img/matrix.svg");
  box-shadow: inset 0 -3px 4px rgba(0,0,0,0.2);
}
.jumbotron h1 {
  font-size: 2.7em;
  font-weight: 700;
}
.jumbotron .lead {
  margin: 20px 0 50px;
}
.jumbotron .lead .zh {
  font-size: 1.5em;
}
.jumbotron .btn {
  width: 200px;
  font-size: 1.1em;
  padding-bottom: 15px;
}
.btn {
  font-size: 1.15em;
}
.content {
  max-width: 1024px;
  width: 100%;
  padding: 30px 10px 100px;
  margin: auto;
}
.content h1,
.content h4 {
  font-weight: 900;
}
.red {
  color: #d21;
}
.yellow {
  color: #ff6;
}
.gray {
  color: #999;
}
#carousel-testimony h5 {
  margin-bottom: -5px;
}
#carousel-testimony .name {
  margin-bottom: -5px;
}
#carousel-testimony .carousel-item {
  padding-left: 30px;
  padding-right: 30px;
}
#carousel-photo .carousel-control-prev {
  left: -35px;
}
#carousel-photo .carousel-control-next {
  right: -35px;
}
#carousel-photo .carousel-control-prev,
#carousel-photo .carousel-control-next {
  width: 30px;
}
#carousel-photo .carousel-control-prev span,
#carousel-photo .carousel-control-next span {
  font-size: 32px;
  padding: 5px;
  border-radius: 50%;
  background: none;
  color: #000;
  width: 40px;
  height: 40px;
  display: block;
}
#carousel-video p.text-left,
#carousel-testimony p.text-left {
  font-size: 0.8em;
}
#carousel-video .carousel-control-prev,
#carousel-testimony .carousel-control-prev,
#carousel-video .carousel-control-next,
#carousel-testimony .carousel-control-next {
  width: 20px;
  mix-blend-mode: difference;
}
#carousel-video .carousel-control-prev span,
#carousel-testimony .carousel-control-prev span,
#carousel-video .carousel-control-next span,
#carousel-testimony .carousel-control-next span {
  background-size: 60%;
  padding: 15px;
  border-radius: 50%;
  background-color: #222;
}
#carousel-video .carousel-indicators,
#carousel-testimony .carousel-indicators {
  margin: 0;
  bottom: -25px;
}
#carousel-video .carousel-indicators li.active,
#carousel-testimony .carousel-indicators li.active {
  background-color: #f00;
}
#carousel-video .carousel-indicators li,
#carousel-testimony .carousel-indicators li {
  background-color: rgba(0,0,0,0.5);
}
.events .event {
  margin: 15px 0 50px;
}
.events .event h4 .en {
  display: inline;
  font-size: 0.9em;
}
.events .event .thumb {
  background-color: #eee;
  background-image: url("img/events/na.jpg");
}
.events .event .thumb,
.events .event .inner {
  width: 240px;
  height: 290px;
  margin-bottom: 5px;
  border-radius: 6px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
.events .event .thumb .thumb-inner,
.events .event .inner .thumb-inner {
  margin: 0;
}
.events .event .links .btn {
  font-size: 0.65em;
}
.events .event .desc {
  font-size: 0.9em;
}
a.anchor {
  margin-top: -60px;
  position: absolute;
}
.reveal {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  opacity: 0;
  -ms-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.reveal.on {
  opacity: 1;
}
.reveal.s67 {
  width: 60%;
  padding-top: 70%;
}
.reveal.cover {
  background-size: cover;
}
.reveal-shadow {
  position: fixed;
  background: rgba(0,0,0,0.5) url("img/loader-jothon.svg") center center no-repeat;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  opacity: 0;
}
.reveal-shadow > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
}
.reveal-shadow.active {
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.photos {
  margin: -5px -5px 10px;
}
.photos:nth-child(2) {
  margin-bottom: 0;
}
.photo.lg {
  width: 100%;
  height: 220px;
  margin: 0 0 10px;
}
.photo {
  cursor: pointer;
  height: 180px;
  background: url("img/photo/1.jpg") center no-repeat fixed;
  background-size: cover;
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  margin: 3px 5px;
  padding: 0;
}
.photo .inner {
  width: 100%;
  height: 100%;
  background: url("img/photo/1.jpg") center center no-repeat;
  background-size: cover;
}
.timeline {
  position: relative;
  border-left: 4px solid;
  padding-left: 32px;
  padding-bottom: 30px;
}
.timeline .entry {
  margin-bottom: 30px;
}
.timeline .date {
  position: absolute;
  left: -88px;
  margin-top: 2px;
  text-align: right;
  width: 60px;
}
.timeline .milestone .action .text {
  font-size: 32px;
  font-weight: 900;
  position: relative;
  top: -8px;
}
.timeline .milestone .action:before {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: -18px;
  margin-top: 0;
  border: 4px solid;
}
.timeline .action .text {
  font-size: 24px;
  font-weight: 900;
  position: relative;
  top: -4px;
}
.timeline .action:before {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -8px;
  margin-top: 8px;
  border: 4px solid;
}
.timeline .milestone .action:after {
  display: none;
}
.timeline .action:after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 46px;
  height: 0;
  border-bottom: 2px solid;
  left: 0px;
  margin-top: -23px;
}
.timeline .entry {
  margin-left: 32px;
}
.timeline .entry.milestone {
  margin-left: 0px;
}
.timeline.timeline-red {
  border-left-color: #d31;
}
.timeline.timeline-red .milestone .action:before {
  background: #fff;
  border-color: #d31;
}
.timeline.timeline-red .action:before {
  background: #d31;
  border-color: #d31;
}
.timeline.timeline-red .action:after {
  border-bottom-color: #d31;
}
.timeline.timeline-orange {
  border-left-color: #f93;
}
.timeline.timeline-orange .milestone .action:before {
  background: #fff;
  border-color: #f93;
}
.timeline.timeline-orange .action:before {
  background: #f93;
  border-color: #f93;
}
.timeline.timeline-orange .action:after {
  border-bottom-color: #f93;
}
.timeline.timeline-green {
  border-left-color: #9f9;
}
.timeline.timeline-green .milestone .action:before {
  background: #fff;
  border-color: #9f9;
}
.timeline.timeline-green .action:before {
  background: #9f9;
  border-color: #9f9;
}
.timeline.timeline-green .action:after {
  border-bottom-color: #9f9;
}
.timeline.timeline-blue {
  border-left-color: #48f;
}
.timeline.timeline-blue .milestone .action:before {
  background: #fff;
  border-color: #48f;
}
.timeline.timeline-blue .action:before {
  background: #48f;
  border-color: #48f;
}
.timeline.timeline-blue .action:after {
  border-bottom-color: #48f;
}
.timeline.end {
  border-left-color: #ccc;
  border-left-style: dashed;
  padding-bottom: 100px;
}
