@import 'vars.styl'
@import 'basic.styl'

.timeline
  position: relative
  border-left: 4px solid
  padding-left: 32px
  padding-bottom: 30px
  .entry
    margin-bottom: 30px
  .date
    position: absolute
    left: -88px
    margin-top: 2px
    text-align: right
    width: 60px
  .milestone
    .action .text
      font-size: 32px
      font-weight: 900
      position: relative
      top: -8px
    .action:before
      content: " "
      display: block
      width: 32px
      height: 32px
      border-radius: 50%
      position: absolute
      left: -18px
      margin-top: 0
      border: 4px solid
  .action .text
    font-size: 24px
    font-weight: 900
    position: relative
    top: -4px
  .action:before
    content: " "
    display: block
    width: 12px
    height: 12px
    border-radius: 50%
    position: absolute
    left: -8px
    margin-top: 8px
    border: 4px solid
  .milestone .action:after
    display: none
  .action:after
    content: " "
    display: inline-block
    position: absolute
    width: 46px
    height: 0
    border-bottom: 2px solid
    left: 0px
    margin-top: -23px
  .entry
    margin-left: 32px
  .entry.milestone
    margin-left: 0px

timeline = 'timeline-red' #d31,
           'timeline-orange' #f93,
           'timeline-green' #9f9,
           'timeline-blue' #48f

for color,i in timeline
  .timeline.{color[0]}
    border-left-color: color[1]
    .milestone .action:before
      background: #fff
      border-color: color[1]
    .action:before
      background: color[1]
      border-color: color[1]
    .action:after
      border-bottom-color: color[1]

.timeline.end
  border-left-color: #ccc
  border-left-style: dashed
  padding-bottom: 100px
