extends /base.pug
block body
  +nbr(3)
  .text-center
    h1 公告事項
  +nbr(2)
  .block1024.m-a
    hr
    br
    h3.mb-0 g0v 零時政府揪松團員工終止聘僱聲明
    h3.mb-0 Notice of Employement Termination from g0v-jothon
    .text-muted.mb-2: small 2019/06/10
    p 各位社群朋友及合作夥伴：<br>就 g0v 零時政府揪松團（以下稱「揪松團」）與吳銘軒先生間聘僱關係，有以下幾點說明：
    ol
      li 吳銘軒先生（ttcat）於 2016 年 5 月受雇於揪松團，擔任有給職之「計畫統籌」一職。同時間，並由開放文化基金會（以下稱「OCF」）合聘擔任該基金會「副執行長」。
      li 2019 年 1 月間，本小組與 OCF 主動終止與吳先生間聘僱關係，吳先生於 2019 年 1 月 30 日離職。離職後，均未曾再以職工或志工身份參與揪松團或 OCF 運作。
      li 因時值 Open Government Partnership Summit 及 RightsCon 舉辦期間，為避免各國社群朋友誤解吳先生仍以揪松團或 OCF 代表身份與會，而造成各方困擾，說明如上。
    p g0v 零時政府是眾多「沒有人」共同參與的社群，經過七年來的發展，自然形成許多專案與任務小組。在「沒有人」可以代表 g0v 的社群共識下，揪松團贊同並支持各專案或任務小組成員，以自己參與專案的經驗與全世界交流，並將交流成果與連結帶回，與 g0v 社群共享。揪松團遵守社群共識，也將持續致力分享揪松團的經驗與成果。
    p 若有聯絡需求，請來信 jothon-organizers@g0v.tw
    p g0v 零時政府揪松團
    hr
    p Dear friends & partners,<br>This is a public notice from g0v Jothon Organizers Team (g0v-jothon) regarding Mr. Wu Min-Hsuan (ttcat).
    ol
      li Mr. Wu was a salaried employee of g0v-jothon as of May, 2016 as General Coordinator. During the same period of time, Mr. Wu was jointly employed by the Open Culture Foundation (OCF) as Deputy CEO.
      li g0v-jothon & OCF proactively terminated Mr. Wu’s employement in January, 2019. Mr. Wu left both positions on 30th of January, 2019. Thereafter, Mr. Wu has not involved in g0v-jothon or OCF activities in any capacity.
      li In light of the recent 2019 Open Government Partnership Summit and upcoming Rightscon, g0v-jothon is releasing this public notice, to clarify the relationships between Mr. Wu and the Team, and to prevent further misunderstandings from our partners.
    p For the past 7 years in the g0v community, many project-based teams and task forces have formed and evolved. This multi-centered community abides the “nobody represents g0v” consensus. The Team supports contributors sharing with the world about their projects, as well as imparting the global networks with the g0v community. As a g0v task force, the Team is committed to respect and practice this community consensus.
    p For further information, contact us at jothon-organizers@g0v.tw
    p g0v Jothon Organizers Team
    +nbr(5)
    .text-center
      h4 近期公告事項
    +nbr(1)
    .card: .card-body
      h5.mb-0 網站維護公告
      .text-muted.mb-2: small 2019/06/03
      p  揪松網將於 2019/06/04 凌晨進行例行維修與檢測，屆時無法連線乃屬正常現象，絕對與日期沒有任何關係，請大家放心使用。
      h5.mb-0 公告事項上線
      .text-muted.mb-2: small 2019/06/03
      p 即日起揪松網開始放送公告事項，有任何消息都會公布在這裡，請大家多加關注。感謝大家的支持！
  +nbr(3)
