extends /base.pug
block body
  +nbr(3)
  .text-center
    h1 公告事項
  +nbr(2)
  .block1024.m-a
    hr
    br
    h3.mb-0 網站維護公告
    .text-muted.mb-2: small 2019/06/03
    p  揪松網將於 2019/06/04 凌晨進行例行維修與檢測，屆時無法連線乃屬正常現象，絕對與日期沒有任何關係，請大家放心使用。
    +nbr(5)
    .text-center
      h4 近期公告事項
    +nbr(1)
    .card: .card-body
      h5.mb-0 公告事項上線
      .text-muted.mb-2: small 2019/06/03
      p 即日起揪松網開始放送公告事項，有任何消息都會公布在這裡，請大家多加關注。感謝大家的支持！
  +nbr(3)
