@import '../vars'
@import '../basic'

.form-control-feedback.with-text
  width: auto
  right: 5px

.form-control-feedback.up-tag
  background: #a94442
  font-size: 13px
  line-height: 15px
  height: 20px
  color: #fff
  padding: 3px 8px
  border-radius: 5px 5px 0 0
  right: 10px

.has-feedback .form-control-feedback.with-text.up-tag
  top: -20px

.has-feedback label ~ .form-control-feedback.with-text.up-tag
  top: 5px
