@import '../vars.styl'
@import '../basic.styl'

.grantee-badge
  margin: auto
  width: 100px
  height: 100px
  border-radius: 25%
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
