@import '../vars.styl'
@import '../basic.styl'

.user-profile
  .avatar
    width: 128px
    height: 128px
    background: url(/assets/img/default-avatar.svg) #ccc center center no-repeat
    background-size: cover
    border-radius: 3px
    box-shadow: 0 1px 3px rgba(0,0,0,0.1)
    border: 1px solid #ccc

.jothon-app
  .avatar
    border: 1px solid #ccc
    width: 64px
    height: 64px
    border-radius: 3px
    background: url(/assets/img/default-avatar.svg) center center no-repeat #ccc
    background-size: cover

