@import '../vars.styl'
@import '../basic.styl'

.search-results
  margin: 0
  font-family: Helvetica Neue, Heiti TC, Microsoft JhengHei, arial, sans-serif

.search-result
  margin: 0 0 35px
  a
    font-size: 1.3em
    line-height: 1em
    margin: 0
  .desc
    font-size: .8em
    line-height: 1.2em
    font-weight: 200
    color: #555
    b
      color: #222
      font-weight: 900
  .url
    font-size: .7em
    color: #484
    margin: 0 0 2px
  .type
    font-size: .6em
    background: #ccc
    color: #fff
    display: inline-block
    padding: 2px 5px
    border-radius: 5px
    vertical-align: top
    margin-top: 3px
    line-height: 1.2em
