extends /base.pug
block vars
  - var title = "個人檔案 / 零時政府揪松網"
  - var description = "g0v 揪松團是 g0v.tw 社群籌辦雙月黑客松的工作小組，除了籌畫每雙月的百人黑客松 ( 大松 ) 外，2016 年起亦積極推動社群基礎建設，並於 2016 年底推出公民科技創新獎助金計畫 。"
block head
block body
  +nbr(1)
  div(data-controller="profile")
    .content.user-profile
      .media
        .media-left.mr-3
          .avatar.mb-2
          .text-center
        .media-body
          h3.mb-0(data-text="displayname") Display Name
          .links.mb-2: small
            a.mr-3.text-primary(data-dom="website",href="#",target="_blank") #[i.fa.fa-globe] website
            span.mr-3.text-primary #[i.fa.fa-envelope] #[span(data-text="username") no email ]
          .sep.huge-gap.light
          .desc(data-text="description")
            p.gray ... there is no description for me ...
          div.mt-3(data-dom="tags")
            .badge.badge-light.mr-1.dashed add tag..
            //-each tag in ["g0v","hackathon","democracy","education","photography","moedict"]
              .badge.badge-light.mr-1= tag

    .content(style="background:#333;width:100%;max-width:100%;"): .content.text-light
      h1 編輯 #[small  / Editing]
      +nbr(2)
      .card.mb-3.bg-light.text-dark
        .card-body
          h4 個人資訊 #[small.gray  / Public Information]
          .sep.huge-gap
          .form-group
            label 顯示名稱 #[small.gray  / Display Name]
            input.form-control(data-model="displayname",type="text",placeholder="例如, Agent Smith")
          .form-group
            label 個人網頁 #[small.gray  / Personal Web Page]
            input.form-control(data-model="website",type="text",placeholder="URL to your website")
          .form-group
            label 個人簡介 #[small.gray  / Profile]
            textarea.form-control(data-model="description",rows="4",placeholder="lets' talk about yourself")
          .form-group
            .pull-right.gray(style="vertical-align:bottom"): small 以逗點分隔不同標籤 / Comma Separated
            label 標籤 #[small.gray  / Tags]
            input.form-control(data-model="tags", type="text")
          .text-right
            .btn.btn-primary.ld.ld-ext-right(data-dom="update.info") 更新 #[small  / Update] #[.ld.ld-ring.ld-spin]
      .card.mb-3.bg-light.text-dark
        .card-body
          h4 變更密碼 #[small.gray  / Change Password]
          .sep.huge-gap
          .form-group
            label 目前密碼 #[small.gray  / Current Password]
            input.form-control(data-model="password.now", type="password")
          .form-group
            label 新的密碼 #[small.gray  / New Password]
            input.form-control(data-model="password.new", type="password")
          .form-group
            label 新的密碼 ( 再打一次 ) #[small.gray  / New Password (again)]
            input.form-control(data-model="password.again", type="password")
          .text-right: .btn.btn-primary(data-dom="update.passwd") 更新 #[small  / Update]
      .jothon-apps.card.mb-3.bg-light.text-dark
        .card-body
          small.pull-right.mt-2: a(href="/signin/") #[i.fa.fa-question-circle] 如何使用 / How to Use Jothon App?
          h4 Jothon App #[small.gray  / Login your user with Jothon App]
          .sep.huge-gap
          .card.d-none.jothon-app(data-dom="jothon-app.template"): .card-body
            .media
              .avatar.mr-3
              .media-body
                h3 g0v.wiki
                .sep.light.huge-gap
                .row
                  .col
                    .form-group
                      label.mb-1 App Display Name
                      input.form-control(value="g0v.wiki")
                  .col
                    .form-group
                      label.mb-1 Callback URL
                      input.form-control(value="https://g0v.wiki/u/auth/cb")
                  .col
                    .form-group
                      label.mb-1 Avatar URL
                      input.form-control(value="https://g0v.wiki/u/auth/cb")
                .row
                  .col
                    .form-group
                      label.mb-1 App ID
                      input.form-control(value="blahblahblah",disabled)
                  .col
                    .form-group
                      a.pull-right.jothon-secret-show.clickable show
                      label.mb-1 App Secret
                      input.form-control.secret(type="password", value="...",disabled)
                .text-right
                  .btn.btn-primary.mr-2.jothon-app-update 修改 #[small  / Update]
                  .btn.btn-outline.light.jothon-app-delete 刪除
          div(data-dom="jothon-app.list")
          .text-center(data-dom="jothon-app.none")
            +nbr(2)
            | 你目前沒有任何 Jothon App。 #[+nbr(2)]
            a(href="#jothon-app-create") 來建立 App ...
            +nbr(2)
      a#jothon-app-create.anchor
      .card.mb-3.bg-light.text-dark
        .card-body
          h4.mb-0 建立 Jothon App #[small.gray  / Create App]
          small.gray 透過 Jothon App 讓使用者可以透過揪松網登入你的服務
          .sep.huge-gap
          .form-group
            label Jothon App Name
            input.form-control(data-model="appname", type="text",
            placeholder="name for identify your jothon app, such as 'My Service'")
          .form-group
            label Callback URL
            input.form-control(data-model="appcb", type="text",
            placeholder="e.g., https://myservice.info/auth/g0v/callback")
          .form-group
            label Avatar URL #[small  will be shown to users when they login]
            input.form-control(data-model="appavatar", type="text",
            placeholder="e.g., https://myservice.info/img/jothon-app-avatar.png")
          .text-right: .btn.btn-primary(data-dom="jothon-app.create") 建立 #[small  / Create]
      .text-center
         img(src="/assets/img/misc/blackhole.svg",style="width:256px")
         br
         span 那麼、準備好跳坑了嗎？
