extends /base.jade
block vars
  - var title = "g0v 聊天室紀錄"
  - var description = "g0v 揪松團是 g0v.tw 社群籌辦雙月黑客松的工作小組，除了籌畫每雙月的百人黑客松 ( 大松 ) 外，2016 年起亦積極推動社群基礎建設，並於 2016 年底推出公民科技創新獎助金計畫 。"
block head
block body
  iframe(src="http://logbot.g0v.tw/channel/g0v.tw/today",style="width:100%;height:100%")
