extends /base.pug
block vars
  - var title = "常見問題 / 零時政府揪松網"
  - var questions = yaml("data/faq.yaml");
block head
block body
  .content
    h1.mb-0 常見問題 / FAQ
    .sep.huge-gap
    each item,index in questions
      a.anchor(id="q" + index)
      h4: a(href="#q" + index) #[img(src="/assets/img/qa.svg",style="width:36px;margin:-2px 0 0 -44px")] #{item.q}
      p #{item.a}
      br
