- var featuring = yaml("data/featuring.yaml")
meta(http-equiv="refresh",content="0;URL='" + featuring.register.project + "'")
html: body
  h1(style="width:100%;height:40px;position:absolute;top:0;bottom:0;margin:auto;text-align:center") Redirecting...
