extends /base.jade
block body
  +nbr(3)
  .text-center
    h1 未經授權
    p.gray
      if msg
        span #{msg} 
      else
        span 雖然這很不去中心化 #[br] 反正我們其實是多中心化
    +nbr(1)
    small.gray HTTP 401
    +nbr(3)
    a(href="/") 回首頁  #[small /  Back to Home]
  +nbr(4)
