extends /base.jade
block body
  +nbr(3)
  .text-center
    h1 我不能接受
    p.gray
      if msg
        span #{msg} 
      else
        span 這個要求太超過 #[br] 超出了可以接受的範圍
    +nbr(1)
    small.gray HTTP 406
    +nbr(3)
    a(href="/") 回首頁  #[small /  Back to Home]
  +nbr(4)
