extends /base.jade
block body
  +nbr(3)
  .text-center
    h1 處理逾時
    p.gray
      if msg
        span #{msg} 
      else
        span 我們花了太多時間再等待 #[br] 卻不曾去想是否有另一個人可以愛
    +nbr(1)
    small.gray HTTP 408
    +nbr(3)
    a(href="/") 回首頁  #[small /  Back to Home]
  +nbr(4)
