extends /base.jade
block vars
  - var rootclass = "auth";
block body
  .spc1
  #root.narrow
    +nbr(4)
    .text-center
      small.gray Reset Link Expired.
      h1 連結已失效
      div 太久才收到信嗎？試試#[a(href="/auth/reset/") 再送一次]吧。
      .gray Take too long to receive reset link email? try #[a(href="/auth/reset/") reset] again.
      +nbr(2)
      p: a(href="/") 回首頁  #[small /  Back to Home]
    +nbr(4)
