extends /base.pug
block vars
  - var title = "揪松團電子報 / 零時政府揪松網"
block head
block body
  .content(style="padding-bottom:50px")
    small.gray 揪松團的
    h1 過往電子報 / Archived Newsletter
    p.gray 電子報服務由 #[a(href="https://mailchimp.com/",target="_blank") MailChimp] 提供
    .card.h-100: .card-body(style="padding:0;height:1200px")
      iframe(src="//us13.campaign-archive1.com/home/?u=688c0f30e2af41c2fa09114f2&id=24c8450e9a",
      style="width:100%;min-height:1200px;border:none;background:url(/assets/img/loader-jothon.svg) center 10% no-repeat #eee")
