//- module
.card(data-controller="auth",style="box-shadow:0 2px 3px rgba(0,0,0,.2)")
  .closebtn.lg(data-dom="closebtn")
  .card-header(style="padding-bottom:0")
    .text-center
      .nav.nav-tabs(style="margin-bottom:-1px")
        .nav-item: a.nav-link.active.clickable(data-dom="tab.signup") 註冊 #[small  / Signup ]
        .nav-item: a.nav-link.clickable(data-dom="tab.login") 登入 #[small  / Login]
  .card-body
    form.form
      .form-group.rel(data-dom="email")
        label 電子郵件帳號 #[small.gray / Email]
        input.form-control(type="text",placeholder="Email, 例如: nobody@g0v.tw",data-model="email")
        .invalid-feedback.abs #[i.fa.fa-close] #[span(data-text="error.email")]
      .form-group.rel(data-dom="displayname")
        label 顯示名稱 #[small.gray / Display Name]
        input.form-control(type="text",placeholder="例如：㊣煞氣哥㊣",data-model="displayname")
        .invalid-feedback.abs #[i.fa.fa-close] #[span(data-text="error.displayname")]
      .form-group.rel(data-dom="passwd")
        label 密碼 #[small.gray / Password]
        input.form-control(type="password",placeholder="6 個字元以上",data-model="passwd")
        .invalid-feedback.abs #[i.fa.fa-close] #[span(data-text="error.passwd")]
      .btn.btn-block.btn-success.btn-lg.ld.ld-ext-right.clickable(data-dom="action")
        span(data-text="action") 註冊 / Sign Up
        .ld.ld-ring.ld-spin-fast

      div(style="font-size:16px;margin-top:10px")
        .checkbox(data-dom="newsletter",style="margin:0 0 6px"): label(style="margin:0")
          input(data-model="newsletter",type="checkbox",style="margin:2px 4px 0 0",checked)
          .clickable.inline 訂閱電子報 #[small.gray  / Subscribe Newsletter]
        a(href="/auth/reset/")
          i.fa.fa-question-circle.mr-1
          | 忘記密碼 #[small  / Forget Password] &#xbb;
