extends /base.jade
block vars
  - var title = "揪松團電子報"
  - var description = "g0v 揪松團是 g0v.tw 社群籌辦雙月黑客松的工作小組，除了籌畫每雙月的百人黑客松 ( 大松 ) 外，2016 年起亦積極推動社群基礎建設，並於 2016 年底推出公民科技創新獎助金計畫 。"
block head
block body
  .content(style="padding-bottom:50px")
    small.gray 揪松團的
    h1 過往電子報 / Archived Newsletter
    p.gray 電子報服務由 #[a(href="https://mailchimp.com/",target="_blank") MailChimp] 提供
    .card.h-100: .card-body(style="padding:0;height:1200px")
      iframe(src="http://us13.campaign-archive1.com/home/?u=688c0f30e2af41c2fa09114f2&id=24c8450e9a",
      style="width:100%;min-height:1200px;border:none;background:url(/assets/img/loader-jothon.svg) center 10% no-repeat #eee")
