extends /base.pug
block body
  +nbr(3)
  .text-center
    h1 Bad Request
    p.gray
      if msg
        span #{msg} 
      else
        span 你要求我做壞壞的事情 #[br] 我不能接受
    +nbr(1)
    small.gray HTTP 400
    +nbr(3)
    a(href="/") 回首頁  #[small /  Back to Home]
  +nbr(4)
