extends /base.pug
block body
  +nbr(3)
  .text-center
    h1 存取被拒
    p.gray
      if msg
        span #{msg} 
      else
        span 沒有人可以看這個頁面 #[br] 沒有人
    +nbr(1)
    small.gray HTTP 403
    +nbr(3)
    a(href="/") 回首頁  #[small /  Back to Home]
  +nbr(4)
