extends /base.pug
block vars
  - var rootclass = "auth"
block head
  style(type="text/css").
    body { background: #fbfbfb;}
block body
  .spc1
  #root.narrow(ng-cloak)
    +nbr(1)
    - var authPanelTitle = "Can't Let You In.";
    - var authPanelDesc = "Try a different method to login";
    div(style="max-width:480px;margin:auto")
      .text-center
        small.gray Login Failed.
        h2(style="margin:0") 登入失敗
        small 加油！再試一次吧！
        +nbr(2)
      include ../static.pug
    script.
      $(document).ready(function() {
        setTimeout(function() { 
          var $scope = angular.element("#root").scope();
          var auth = $scope.auth;
          $scope.$apply(function() { auth.isSignIn = true; });
        }, 0);
      });
    +nbr(1)
    p.text-center: a(href="/") 回首頁  #[small /  Back to Home]
    +nbr(3)
    script.
      if(!window.location.search) { window.location.search = "?nexturl=/" }

