//- module
doctype html
- var debug = false
- var version = "0"
- var thumbnail = "thumbnail.png"
- var thumbtype = "image/png"
- var thumb_width = "1200"
- var thumb_height = "630"
- var favicon = "/assets/img/favicon.png"
- var rootid = ""
- var rootclass = ""
html(lang="en")
  include /mixins/index.jade
  block vars
  head(prefix="og: http://ogp.me/ns#")
    if !debug
      include /module/ga.jade
    include /module/head.jade
    +css("/css/index.css")
    block head
    +script("/js/global.js")
    +script("/js/pack/base.js")
    +script("/js/main.js")
  body.ld.ld-over-full-inverse(id=rootid,class=rootclass,style="overflow:scroll")
    .ld.ld-hourglass.ld-spin-fast.huge
    include /nav.jade
    include /auth/panel.jade
    // For now we don't need this, since it's a static site
    //-#notifications
      .notify(ng-repeat="n in notifications",ng-class="'notify-'+n.type",ng-cloak) {{n.message}}
    block body
    if !debug
      include /module/facebook.jade
    include module/footer.jade
    script(src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-53414.js")
