//- module
doctype html
- var title = "揪松網 / 零時政府黑客松活動入口網"
- var description = "帶上你的腦袋與雙手，直接到活動現場找尋志同道合的提案吧！零時政府黑客松由 g0v 揪松團舉辦，兩個月一次的單天活動，百名與會者來自不同的城市、背景、專長與年紀，利用三分鐘的時間將自己想做的事快速發表，並在活動現場尋找志同道合的夥伴，發揮各自所長，同時透過線上與線下協作的方式，用弄髒雙手的精神來「讓事情發生」。"
- var debug = false
- var version = "0"
- var thumbnail = "http://hack.g0v.tw/assets/img/thumbnail.png"
- var thumbtype = "image/png"
- var thumb_width = "1200"
- var thumb_height = "630"
- var favicon = "/assets/img/favicon.png"
- var rootid = ""
- var rootclass = ""
html(lang="en")
  include /mixins/index.jade
  block vars
  head(prefix="og: http://ogp.me/ns#")
    if !debug
      include /module/ga.jade
    include /module/head.jade
    +css("/css/index.css")
    block head
    +script("/js/global.js")
    +script("/js/pack/base.js")
    +script("/js/main.js")
  body.ld.ld-over-full-inverse(id=rootid,class=rootclass,style="overflow:scroll")
    .ld.ld-hourglass.ld-spin-fast.huge
    include /nav.jade
    include /auth/panel.jade
    // For now we don't need this, since it's a static site
    //-#notifications
      .notify(ng-repeat="n in notifications",ng-class="'notify-'+n.type",ng-cloak) {{n.message}}
    block body
    if !debug
      include /module/facebook.jade
    include module/footer.jade
    script(src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-53414.js")
