extends /base.pug
block vars
  - var title = "搜尋 / 零時政府揪松網"
block head
block body
  .content
    h3.mb-0 搜尋結果
    small#search-hint.gray 
    .sep.huge-gap
    .search-results
    script.
      setTimeout(function() { search(); }, 0);
