//- module
@import '../vars'
@import '../basic'

.gray
  color: #999
.light
  color: #bbb
.block
  display: block
.tiny
  font-size: .65em
.big
  font-size: 1.5em
.huge
  font-size: 3em
.red
  color: #c7254e
.green
  color: #15b73e
