//- module
@import '../vars'
@import '../basic'

+keyframes(bk-drift)
  0%,50%,100%
    animation-timing-function: cubic-bezier(0,.3,.7,1)
  25%,75%
    animation-timing-function: cubic-bezier(.3,0,1,.7)
  0%
    background-position: 0 0
  25%
    background-position: -50px 0
  50%
    background-position: 0 0
  75%
    background-position: 50px 0
  100%
    background-position: 0 0


.authpanel.cover-modal-wrapper .cover-modal
  animation(bk-drift 20s cubic-bezier(.3,0,.7,1) infinite)
  background-image: url()
  opacity: 0.75

.authpanel.cover-modal-wrapper .cover-modal-inner
  width: 400px
  height: 400px
  .panel
    box-shadow: 0 6px 12px 2px rgba(0,0,0,0.5)
  & > .text-center
    color: #fff
    font-size: 1.2em
    a
      color: #549ad7

