extends /base.jade
block body
  .spc1
  #root.narrow
    br
    br
    br
    h1.text-center Reset Your Password
    p.text-center.grayed be sure to pick a strong enough password!
    #authpanel(ng-controller="resetpassword")
      form#pwreset-form.modal-dialog(method="POST",
      action="/d/me/passwd/reset",onsubmit="return window.formError"): .modal-content
        .modal-body
          input#_csrf(type="hidden",name="_csrf")
          input#_token(type="hidden",name="_token")
          .form-group(ng-class="{'has-error':err.code=='pw1','has-feedback':err.code=='pw1'}")
            label type new password
            input.form-control.input-lg(type="password",name="password",placeholder="",ng-model="pw1")
            .form-control-feedback.with-text(ng-show="err.code=='pw1'",ng-cloak) {{err.msg}} #[i.fa.fa-close]
          .form-group(ng-class="{'has-error':err.code=='pw2','has-feedback':err.code=='pw2'}")
            label type it again
            input.form-control.input-lg(type="password",name="confirm",placeholder="",ng-model="pw2")
            .form-control-feedback.with-text(ng-show="err.code=='pw2'",ng-cloak) {{err.msg}} #[i.fa.fa-close]
        .modal-footer
          input.btn.btn-success.btn-lg.btn-block(type="submit",value="Set Password",ng-click="checkPassword()")
      script.
        window.formError = false;
        angular.module("backend").controller("resetpassword",["$scope","global",function($scope,global) {
         var token = (/^\?token=(.+)$/.exec(window.location.search) || [])[1];
         document.getElementById("_csrf").value = global.csrfToken;
         document.getElementById("_token").value = token;
         document.getElementById("pwreset-form").setAttribute("action","/d/me/passwd/reset/" + token);
         $scope.err = {};
         $scope.checkPassword = function() {
           if($scope.pw1 != $scope.pw2) $scope.err = {code: "pw2", msg: "password mismatch"};
           else if(!$scope.pw1) $scope.err = {code: "pw1", msg: "password should not be empty"};
           else if($scope.pw1.length < 6) $scope.err = {code: "pw1", msg: "password too short ( >= 6 )"};
           else $scope.err = null;
           window.formError = !!!$scope.err;
         };
        }]);
    p.text-center #[br] #[a(href="/") back to home]
    br
