@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:300')
@import 'vars.styl'
@import 'basic.styl'

@font-face
  font-family: hack-zh
  font-weight: 300
  src: local("Helvetica Neue")
  url: sans-serif
  unicode-range: U+4E00-9FFF

@font-face
  font-family: justfont-zh
  font-weight: 400
  src: local("xingothic-tc")
  unicode-range: U+4E00-9FFF

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  font-size: 21px
  //font-family: justfont-zh, hack-zh, "Saira Extra Condensed", Helvetica, Arial, sans-serif
  font-family: "Saira Extra Condensed", xingothic-tc, Helvetica, Arial, sans-serif

h1,h2,h3,h4,h5,h6, .heavy
  font-family: "Saira Extra Condensed", jf-jinxuan, Helvetica, Arial, sans-serif

p
  line-height: 1.6em

iframe
  background: url(/assets/img/loader-jothon.svg) #ccc center center no-repeat
.navbar
  font-size: 0.8em
  .avatar
    width: 24px
    height: 24px
    background: url(/assets/img/default-avatar.svg) #ccc center center no-repeat
    display: inline-block
    vertical-align: top
    margin-right: 10px
    border-radius: 3px

.navbar-brand img
  width: 32px

.footer
  background: #222
  padding: 40px
  color: #fff
  font-size: 0.8em
  h5
    margin-bottom: 20px
  a
    color: #fff
    display: block
  .fa, .fab
    width: 20px
    margin-right: 5px
    text-align: center
  .row
    width: 100%
    max-width: 80%
    margin: auto

.jumbotron
  padding: 0
  background: #fffff9 
  background: -moz-linear-gradient(45deg, #fffff9 0%, #fff 100%)
  background: -webkit-linear-gradient(45deg, #fffff9 0%,#fff 100%)
  background: linear-gradient(45deg, #fffff9 0%,#fff 100%)
  position: relative
  .inner
    margin: 0
    padding: 60px 0 0
    width: 100%
    height: 100%
    background-image: url(/assets/img/matrix.svg)
    box-shadow: inset 0 -3px 4px rgba(0,0,0,0.2)
  .text-center
    position: relative
    z-index: 2
  .background
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    height: 100%
    opacity: 0.1
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    display: none
  font-size: 1.2em
  border-radius: 0
  h1
    font-size: 2.7em
    font-weight: 700
  .lead
    margin: 20px 0 50px
    .zh
      font-size: 1.5em
  .btn
    width: 190px
    font-size: 1.1em
    padding-bottom: 15px

.btn
  font-size: 1.15em

.container
  padding-top: 1.5em;
.content
  max-width: 1024px
  width: 100%
  padding: 30px 10px 100px
  margin: auto
  h1, h4
    font-weight: 900

.red
  color: #d21

.yellow
  color: #ff6

.gray
  color: #999

#carousel-review
  blockquote a
    color: #222
    text-decoration: none
  h5
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    width: 100%
    border-bottom: 1px solid #ccc
    text-align: center

#carousel-testimony
  h5
    margin-bottom: -5px
  .name
    margin-bottom: -5px
  .carousel-item
    padding-left: 30px
    padding-right: 30px

#carousel-photo, #carousel-review
  .carousel-control-prev, .carousel-control-next 
    width: 30px
    span
      font-size: 32px
      padding: 5px
      border-radius: 50%
      background: none
      color: #000
      width: 40px
      height: 40px
      display: block

#carousel-video, #carousel-testimony
  p.text-left
    font-size: 0.8em
  .carousel-control-prev, .carousel-control-next 
    width: 20px
    mix-blend-mode: difference
    span
      background-size: 60%
      padding: 15px
      border-radius: 50%
      background-color: #222
  .carousel-indicators
    margin: 0
    bottom: -25px
    li.active
      background-color: #f00
    li
      background-color: rgba(0,0,0,0.5)

.events
  .event
    h4 .en
      display: inline
      font-size: 0.9em
    margin: 15px 0 50px
    .thumb
      background-color: #eee
      background-image: url(/assets/img/events/na.jpg)
    .thumb, .inner
      width: 240px
      height: 290px
      margin-bottom: 5px
      border-radius: 6px
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      box-shadow: 0 2px 2px rgba(0,0,0,0.4)
      .thumb-inner
        margin: 0
    .links .btn
      font-size: 0.65em
    .desc
      font-size: 0.9em
a.anchor
  margin-top: -60px
  position: absolute

.reveal
  display: block
  background-position: center center
  background-repeat: no-repeat
  background-size: contain
  margin: auto
  opacity: 0
  transition(opacity 0.5s linear)
.reveal.on
  opacity: 1
  
.reveal.s67
  width: 60%
  padding-top: 70%

.reveal.cover
  background-size: cover
.reveal-shadow
  position: fixed
  background: rgba(0,0,0,0.5) url(/assets/img/loader-jothon.svg) center center no-repeat
  width: 0
  height: 0
  top: 0
  left: 0
  opacity: 0
  & > div
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    margin :auto
    width: 90%
    height: 90%
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    background-attachment: fixed

.reveal-shadow.active
  transition(all .5s ease-out)

.photos
  margin: -5px -5px 10px
  &:nth-child(2)
    margin-bottom: 0
.photo.lg
  width: 100%
  height: 220px
  margin: 0 0 10px
.photo
  cursor: pointer
  height: 180px
  background: url(/assets/img/photo/1.jpg) center no-repeat fixed
  background-size: cover
  margin: 10px 0
  border-radius: 3px
  box-shadow: 0 0 2px rgba(0,0,0,0.4)
  margin: 3px 5px
  padding: 0
  .inner
    width: 100%
    height: 100%
    background: url(/assets/img/photo/1.jpg) center center no-repeat
    background-size: cover

.g0v
  display: inline
  &:after
    display: inline
    content: "g0v"
    font-family: consolas, "Source Code Pro", Courier New, fixedsys, monospace

.g0v.tw
  &:after
    content: "g0v.tw"

.badge.dashed
  border: 1px dashed #ccc
  opacity: 0.8
  color: #aaa

@import 'generic/index.styl'
@import 'modal/index.styl'
@import 'component/index.styl'
@import 'timeline.styl'
@import 'page/index.styl'
