//- module
order = join(" ",
  base ,
  slider-switch hover-tip,
  footer nav-top authpanel-outer,
  modal modal-inner high-modal high-modal-inner high-modal-wrapper,
  authpanel-background authpanel-inner,
  closebtn,
  notifications icon-dimmer
  )
